#tree {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 700px;
}
#owl-avatar {
  height: 50px;
  position: absolute;
  top: 282px;
  left: 607px;
}
